<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <div>
        <h2>@ViewBag.Name</h2>
        <h2>@ViewBag.Role</h2>
    </div>
</body>
</html>
